.App {
  text-align: center;
}
.main-container{
  text-align: center;
}
.main-heading{
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
input{
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.BookList-container{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
ul { 
  list-style-type: none; 
}
.favorite-btn{
  background-image: linear-gradient(to right,antiquewhite, #fff ,antiquewhite);
  color: #060606;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 15px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.favicon{
  width: 20px;
}


@media only screen 
and (max-device-width: 600px)
 { 
  .App {
    text-align: left;
  }
  .main-container{
    text-align: left;
  }
  .main-heading{
    margin: 10px;
  }
  .main-container{
    text-align: left;
  }
  
  
  input{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-left: 20px;
} }